@use 'variables' as v; 
@use 'mixins' as m;

.files{
    margin-top:3rem;
    padding:5rem;
    font-family:v.$fuenteHeading;
    text-align:center;

    &__contenido{
        display:grid;
        @include m.tablet{
            @include m.grid(2, 2rem);
            align-items: center;
        }
    }
    &__ilustracion{
        margin-bottom:2.6rem;
        grid-row:1/2;

        @include m.tablet{
            grid-row:unset;
        }
    }

    &__heading{
        font-size:3.5rem;
        color:v.$VeryDarkBlue;
        @include m.tablet{
        width:87%;
        text-align:left;
        }
    }

    &__texto{
        margin-top:3rem;
        font-size:1.5rem;
        color:v.$VeryDarkBlue;
        @include m.tablet{
            text-align:left;
            width:60%;
            }
    }

    &__empezar{
        margin-top:2rem;
        display:flex;
        flex-direction:column;
        gap:2rem;

        @include m.tablet{
            flex-direction:row;
            justify-content: center;

        }
    }

    &__boton{
        font-family:v.$fuenteHeading;
        font-weight:700;
        padding:1.5rem 4rem;
        color:#fff;
        background-color:v.$BrightBlue;
        border:none;
        border-radius:0.6rem;
        cursor:pointer;
        margin:0 auto;
        width:100%;

        @include m.tablet{
            width:50%;
        }
    }

    &__input{
        padding:1rem;
        width:100%;
        margin:0 auto;
        border:1px solid;
        @include m.tablet{
            width:100%; 
        }
    }

}