@use 'variables' as v; 
@use 'mixins' as m;

.productivo{
    margin-top:3rem;
    padding:5rem;
    font-family:v.$fuenteBody;
    background-image: url(../images/bg-curve-desktop.svg);
    background-size:cover;
    background-position:center;
    text-align:center;
    @include m.tablet{
        text-align:left;
    }

    &__heading{
        font-size:2rem;
        margin-bottom:2.5rem;
        @include m.tablet{
            font-size:3rem;
        }
    }

    &__texto{
        font-size:1.7rem;
        text-align:left;
        margin-bottom:2rem;
    }

    &__contenido{
        display:grid;
        @include m.tablet{
            @include m.grid(2, 2rem);
            align-items: center;
        }
    }

    &__ilustracion{
        grid-row:1/2;
        @include m.tablet{
            grid-row:unset;
        }
    }

    &__enlace{
        color:v.$ModerateCyan;
        text-decoration:underline;
        font-size:1.8rem;
        position:relative;
        margin-top:2rem;
        text-align:left;

        &:hover{
            color:v.$LightGray;
        }
    }

    &__arrow{
        position:absolute;
        left:170px;
        bottom:2px;
        }
}