@use 'variables' as v; 
@use 'mixins' as m;

.testimonio{
    font-size:v.$fuenteBody;
    background-color:#fff;
    padding:5.2rem;
    box-shadow: 0px 0px 11px v.$LightGray;
    margin-top:3rem;
    @include m.tablet{
    margin-top:0;
    width:50%;
    padding:3.5rem;
    }

    &__header{
        display:flex;
        align-items: center;
        gap:2rem;
        margin-top:4rem;

        @include m.tablet{
            margin-top:0;
        }
    }
    &__texto{
        position:relative;
        font-size:1.6rem;
        text-align:center;


        &::before{
            content:' " ';
            font-size:8rem;
            position:absolute;
            bottom:100px;
            @include m.tablet{
            bottom:15px;
            left:3px;
            }

        }
    }

    &__imagen{
        flex-basis:10rem;
    }
    &__persona{
        border-radius:50%;

    }

    &__autor{
        font-size:2rem;
        font-weight:700;
        text-align:left;
    }

    &__info{
        font-size:1.6rem;
        text-align:left;
        width:100%;
    }
}