$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//COLORES
$VeryDarkBlue: hsl(243, 87%, 12%);
$DesaturatedBlue: hsl(238, 22%, 44%);
$BrightBlue: hsl(224, 93%, 58%);
$ModerateCyan: hsl(170, 45%, 43%);
$LightGrayishBlue: hsl(240, 75%, 98%);
$LightGray: hsl(0, 0%, 75%);

//FUENTES
$fuenteHeading:'Raleway', sans-serif;
$fuenteBody: 'Open Sans', sans-serif;